h1 { font-size: 120px;
 text-align: center;
color: white;}

body {
  background-color: #fc9; /* same as #ffb95c */
}
p {font-size: 25px;
}
h2 { font-size: 60px;
	text-decoration: underline;
	color: white;
	text-align: center;
 }
h3 { font-size: 40px;
text-decoration: overline underline;
}

h4 { font-size: 40px;
text-decoration: overline underline;
text-align: center;}

ul {list-style-type: disc;}
 
 li { font-size: 45px;
 text-decoration: underline
}
 
 a { font-size: 25px;
 	}

 img {
 max-width: 50%;
 max-height: 50%;
}

h6 {text-align: right;}
